 /* color Items */
.item1{
   background-color: #ec008c;

}
.item2{
    background-color: #15bef0;
 
 }
 .item3{
    background-color:  #f26322;
 
 }
 .item4{
    background-color: #62489d;
 
 }
 .item5{
    background-color: #2cb34a;
 
 }
 .item6{
    background-color: #ee3124;
    height:5px;
 
 }

 /* color Items */


 .toolBarMenu{
     
     background-color: white;
     text-align: center;
     
 }


 .topBar{
     height: 85px;
     background-color: rgb(255, 255, 255);
     text-align: center;
     color: black;
     
 }

 .logo{
     padding: 16px;
 }


 .cardItem{
   margin: 20px;
   text-align: center;
 }
 

.closeDrawer{
   display: flex;
   justify-content: flex-end;
}



